<div class="image-gallery">
    {% assign sorted = site.static_files | sort: 'date' | reverse %}
    {% for file in sorted %}
        {% assign include_folder = '/img/gallery/' %}
        {% if file.path contains include_folder %}
            {% if file.extname == '.jpg' or file.extname == '.png' %}
                {% assign filenameparts = file.path | split: '/' %}
                {% assign filename = filenameparts | last | replace: file.extname, '' %}
                {% assign img_path = '/img/gallery' | append: filename | append: '.jpg' %}
                <div class="box">
                    <a href="" title="">
                        <img src="" alt="" class="img-gallery">
                    </a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>

<style>
    .image-gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        padding: 4px;
    }

    .box {
        flex-basis: 25%;
        width: 100%;
        padding: 10px;
        margin: 2px;
    }

    .img-gallery {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }
</style>
